*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body{
    background-color: #fff;
    font-family: sans-serif;
    font-size: 1.6rem;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* ------------Inicio estilos Header------*/
header{
    background: 
    linear-gradient(rgba(249, 201, 231, 0.5), rgba(249, 201, 231, 0.5)), 
    url('../assets/img/portada.jpg');   background-repeat:no-repeat;
    background-position: center;
    max-height: 400px;
    width: 100%;
}

header .menu {
    margin: 40px 0;
    text-align: right;
}

header .menu a{ 
    margin: 0 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}

header .menu a:hover {
    border-bottom:  2px solid #fff;
}

header .container-text { 
    display: flex;
    justify-content:center ;
    align-content: center;
    margin: 55px 0;
}

header .container-text .text{
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}

header .container-text .text h1,
header  .container-text .text h2{
color: #fff;
font-weight: 300;
margin: 0;
}
header .container-text .text .name{
    margin-bottom:10px;
    font-size: 45px;
    line-height: 50px;
}

header .container-text .text .Profesion{
    margin-bottom:25px;
    font-size: 25px;
}

/* ------------Fin estilos Header------*/

.main .container{
    overflow: visible;
}
.main .about {
text-align: center;

}

.main .about .photo{
margin-top: -50px;
}

.main .about .photo img{
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

.main .about .container .text {
    color: #5a5a5a;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
}

.main .about .container .title {
font-size: 34px;
line-height:34px;
margin-bottom: 40px;
color: #eb7d7da0;
text-align: center;
}

.main .about .text .bold{
    color: #3895ea;
    text-decoration: underline;
}

.main .jobs {
    background: #d9d9d9;
  padding: 60px 0;  
}

.main .jobs .container {
    overflow: hidden;
   
}

.main .jobs .title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    color: #eb7d7da0;
    text-align: center;
}

.main .jobs .container-job{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.main .jobs .container-job .job{
   width: 23%; 
}

.main .jobs .container-job .job .imagenjob{
    width: 100%;
    margin-bottom: 10px;
}

.main .jobs .container-job .job .imagenjob img{ 
    width: 100%;
    vertical-align: top;
    border-radius: 3px;
}

.main .jobs .container-job .job .descripcion{
    text-align: center;
}

.main .jobs .container-job .job .descripcion .name {
    color: #3895ea;
    margin-bottom: 10px;
}

.main .jobs .container-job .job .descripcion .name .categoria{
    font-size: 14px;
    color: #636363;
}

/*------ FIN*-----*/
/*----Inicio footer --*/
footer .contact{
    padding: 60px 0;
}

footer .contact .container{
    margin-bottom: 25px;
}

footer .contact .title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    color: #eb7d7da0;
    text-align: center;
}

footer .contact .formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer .contact .formulario input[type="text"],
footer .contact .formulario input[type="email"],
footer .contact .formulario textarea {
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #a4a4a4;
}

footer .contact .formulario input[type="text"],
footer .contact .formulario input[type="email"]{
    width: 49%;
    margin-bottom: 15px;
}

footer .contact .formulario textarea{
 width: 100%;
 height: 100px;
 min-width: 100%;
 max-width: 100%;
 min-height: 100px;
 max-height: 300px;
 margin-bottom: 15px;
}

footer .contact .formulario .boton{
    margin: auto;
    background-color: #3895ea;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
    cursor: pointer;
}

footer .contact .formulario .boton:hover{
    background: #387bea;
}

footer .redes-sociales{
    background: #1e2b38;
    padding: 60px 0;
}


footer .redes-sociales .container{
    display: flex;
    justify-content: center;
}

footer .redes-sociales a {
    color: #fff;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius:  3px;
    font-size: 30px;
    margin: 0 20px;
}

footer .redes-sociales .facebook:hover{ background:#1da1f2;}
footer .redes-sociales .instagram:hover{ background:#1da1f2;}
footer .redes-sociales .tiktok:hover{ background:#1da1f2;}

